{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence des Cougoussolles</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate cumque maxime, deserunt accusantium, obcaecati ullam perferendis repudiandae ea amet nulla provident? Dolores ea ad harum quam sequi sapiente ex eius quis ut dolorem at, quaerat itaque? Sed perferendis illum hic quisquam dignissimos voluptas natus accusamus accusantium dolorum. Labore, nam in?</p>
</div>
{% endblock %}